section {
	margin-top: 100px;
	.amount {
		font-size: 18px;
		input {
			font-size: 20px;
		}
	}
	.from {
		font-size: 18px;
		margin: 0 10px 0 20px;
	}
	.to {
		font-size: 18px;
		margin: 0 10px 0 10px;
	}

}